.map-section {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

#map {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.measurement-panel {
  position: absolute;
  z-index: 1000;
  top: 10%;
  left: 10%;
  width: 25%;
  height: 230px;
  background-color: white;
}

