* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Montserrat, sans-serif;*/
  font-weight: 500;
  cursor: default;
}

body {
  max-width: 2600px;
  margin: 0 auto;
  min-height: 100vh;
}
